* {
    box-sizing: border-box;
}

body {
    background-color: #111827;
    color: #D1D5DB;
    font-family: Inter;
}

@font-face {
    font-family: "Inter";
    src: url(font/Inter-Regular.ttf);
}

.card {
    background-color: #1F2937;
    border-radius: 12px;
    box-shadow: 0px 25px 25px 0px #00000026;
    color: #D1D5DB;
    height: 356px;
}

.h2 {
    width: 125px;
    height: 28px;
    border-radius: 12px;
    background-color: #374151;
    margin: auto;
    padding-top: 5px;
    font-size: 14px;
    font-weight: 500;
}

#headline {
    font-size: 20px;
    color: #D1D5DB;
}

#icon-avatar {
    margin-bottom: 15px;
}

.feedback {
    color: #D1D5DB;
    text-align: left;
}

.name {
    font-size: 20px;
    font-weight: 600;
    color: #F9FAFB;
    margin: 0;
}

.job {
    font-size: 14px;
    color: #D1D5DB;
    margin: 0;
}

.tag {
    width: 105px;
    height: 28px;
    text-align: center;
    border-radius: 12px;
    background-color: #374151;
    margin: auto;
    padding-top: 5px;
    font-size: 14px;
    font-weight: 500;
}

#profile-img {
    max-width: 400px;
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    padding-left: 40px;
    background-position-y: 40px;
    padding-bottom: 35px;
}

.about-me h1 {
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #F9FAFB;
}

.about-me p {
    font-family: Inter;
    line-height: 24px;
    color: #D1D5DB;
}

.about-me a {
    color: #D1D5DB;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    margin-left: 25px;
    margin-bottom: 10px;
    font-family: Inter;
    color: #D1D5DB;
}
